{% extends "base.html" %}

{% block imports %}
<link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201911011043">
{% endblock%}

{% block styles %}
#div {
margin-top: 10%;
}
{% endblock %}

{% block body %}

{% for error in form.username.errors %}
<div class="notification is-danger">
        <button class="delete"></button>
        {{ error }}
    </div>
{% endfor %}

{% for error in form.password.errors %}
<div class="notification is-danger">
        <button class="delete"></button>
        {{ error }}
    </div>
{% endfor %}

<!--<section class="section">-->
<div id="div">
    <section class="section">
        <div class="columns is-desktop is-vcentered">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="columns">
                    <div class="column is-6">
                        <!--            Info column-->
                        <div class="container">
                            <h1 class="title">
                                Welcome to [PlaceHolder]
                            </h1>
                            <p class="subtitle">
                                Please <strong>login</strong> to continue!
                            </p>
                        </div>
                    </div>
                    <div class="is-divider-vertical"></div>
                    <div class="column is-6">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <!--            Login form column-->
                            <div class="container">
                                <!--                src: https://bulma.io/documentation/form/input/-->
                                <div class="field">
                                    <p class="control has-icons-left has-icons-right">
                                        {{ form.username(class="input", placeholder="Username", type="text") }}
                                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        {{ form.password(class="input", type="password", placeholder="Password") }}
                                        <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                    </p>
                                </div>
                            </div>
                            <!--                    <p style="padding-top: 5px; padding-bottom: 5px">-->
                            <!--                        Forgot password? Click <a href="team6.ppdb.me/recover_password">here</a>.-->
                            <!--                    </p>-->
                            <br>
                            <div class="level">
                                <div class="level-left">

                                    <div class="buttons">
                                        {{ form.login(class="button is-primary") }}
                                        <a class="button" href="{{ url_for('auth.register') }}">Sign up</a>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="buttons">
                                        <a class="button" href="{{ url_for('auth.reset_password_request') }}">Forgot password</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

<!--                </form>-->
</div>
            <div class="column is-2"></div>
        </div>
<!--</div>-->
</section>
</div>
{% endblock %}
