{% extends "base.html" %}

{% block imports %}
<link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201911011043">
{% endblock%}

{% block styles %}
#div {
margin-top: 10%;
}
{% endblock %}

{% block body %}

{% for error in form.password.errors %}
<div class="notification is-danger">
        <button class="delete"></button>
        {{ error }}
    </div>
{% endfor %}

{% for error in form.password2.errors %}
<div class="notification is-danger">
        <button class="delete"></button>
        {{ error }}
    </div>
{% endfor %}

<!--<section class="section">-->
<div id="div">
    <section class="section">
        <div class="columns is-desktop is-vcentered">
            <div class="column is-2"></div>
            <div class="column is-8">
                <div class="columns">
                    <div class="column is-6">
                        <!--            Info column-->
                        <div class="container">
                            <h1 class="title">
                                {{ _("Reset Password")}}
                            </h1>
                            <p class="subtitle">
                                {{ _("Let's change you password")}}
                            </p>
                        </div>
                    </div>
                    <div class="is-divider-vertical"></div>
                    <div class="column is-6">
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <!--            Login form column-->
                            <div class="container">
                                <!--                src: https://bulma.io/documentation/form/input/-->
                                <div class="field">
                                    <p class="control has-icons-left has-icons-right">
                                        {{ form.password(class="input", placeholder="Password", type="password") }}
                                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        {{ form.password2(class="input", type="password", placeholder="password") }}
                                        <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                    </p>
                                </div>
                            </div>
                            <br>
                            <div class="level">
                                <div class="level-left">

                                    <div class="buttons">
                                        {{ form.submit(class="button is-primary") }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

<!--                </form>-->
</div>
            <div class="column is-2"></div>
        </div>
<!--</div>-->
</section>
</div>
{% endblock %}
