{% extends "base.html" %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-medium">{{ _("Review") + " " + user.firstname + " " + user.lastname}}</h1>
            <hr class="hr">
        </div>
    </section>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <section class="section">
            <div class="container box">

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Score:")}}</p>
                    </div>
                    <div class="column is-5">
                        {{ form.score(type="number", class="input", placeholder="Score", max="5", min="0", value=review.score) }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Write your review:")}}</p>
                    </div>
                    <div class="column is-5">
                        {% if review.review_text %}
                            {{ form.review_text(type="text", class="input", placeholder="Review text", value=review.review_text) }}
                        {% else %}
                            {{ form.review_text(type="text", class="input", placeholder="Review text") }}
                        {% endif %}
                    </div>
                </div>

                <div class="buttons">
                    {{ form.submit_review(class="button is-primary") }}

                    <a class="button is-danger" href="{{ url_for('users.remove_review', id=user.id) }}">{{ _("Delete") }}</a>

                </div>

            </div>

        </section>
    </form>

{% endblock %}