{% extends "base.html" %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-medium">{{ _("Settings") }}</h1>
            <h2 class="subtitle">{{ _("Edit your preferences") }}</h2>
            <hr class="hr">
        </div>
    </section>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <section class="section">
            <div class="container box">

                <p class="subtitle">{{ _("Edit profile") }}</p>
                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("First name:") }}</p>
                    </div>
                    <div class="column is-5">
                        {{ form.firstname(type="text", class="input", placeholder="First name", value=current_user.firstname) }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Last name:") }}</p>
                    </div>
                    <div class="column is-5">
                        {{ form.lastname(type="text", class="input", placeholder="Last name", value=current_user.lastname) }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Email:") }}</p>
                    </div>
                    <div class="column is-5">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                {{ form.email(type="text", class="input", placeholder="Email", value=current_user.email) }}
                                <span class="icon is-small is-left">
                                     <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Change password:") }}</p>
                    </div>
                    <div class="column is-5">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                {{ form.password(type="password", class="input", placeholder="New password") }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    {{ form.submit_profile(class="button is-primary") }}
                </div>


            </div>
        </section>

        <section class="section">
            <div class="container box">

                <p class="subtitle">{{ _("Music Settings") }}</p>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Add liked genre:") }}</p>
                    </div>
                    <div class="column is-5">
                        <datalist id="liked_genre_suggestions">
                            {% for g in suggested_genres %}
                                <option value="{{ g }}"></option>
                            {% endfor %}
                        </datalist>
                        {{ form.liked_genre(type="text", class="input", placeholder="Liked genre",
                            list="liked_genre_suggestions") }}
                    </div>
                    <div class="column is-1">
                        {{ form.submit_liked(class="button is-primary") }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-6 is-offset-2">
                        <div class="block">
                            {% for genre in current_user.musicpref %}
                                {% if genre.likes %}
                                    <span class="tag is-success is-large">
                                        {{ genre.genre }}
                                        <a class="delete" href="{{ url_for('users.remove_genre', id=genre.id) }}"></a>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Add disliked genre:") }}</p>
                    </div>
                    <div class="column is-5">
                        <datalist id="disliked_genre_suggestions">
                            {% for g in suggested_genres %}
                                <option value="{{ g }}"></option>
                            {% endfor %}
                        </datalist>
                        {{ form.disliked_genre(type="text", class="input", placeholder="Disliked genre",
                                list="disliked_genre_suggestions") }}
                    </div>
                    <div class="column is-1">
                        {{ form.submit_disliked(class="button is-primary") }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-6 is-offset-2">
                        <div class="block">
                            {% for genre in current_user.musicpref %}
                                {% if not genre.likes %}
                                    <span class="tag is-large is-danger">
                                        {{ genre.genre }}
                                        <a class="delete" href="{{ url_for('users.remove_genre', id=genre.id) }}"></a>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <section class="section">
            <div class="container box">

                <p class="subtitle">{{ _("Car Settings") }}</p>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Color:") }}</p>
                    </div>
                    <div class="column is-5">
                        {{ form.color(type="input", class="input", placeholder="Color", value=current_user.car().color) }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("Brand:") }}</p>
                    </div>
                    <div class="column is-5">
                        {{ form.brand(type="input", class="input", placeholder="Brand", value=current_user.car().brand) }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>{{ _("License plate:") }}</p>
                    </div>
                    <div class="column is-5">
                        {{ form.plate(type="input", class="input", placeholder="1-aaa-000", value=current_user.car().plate) }}
                    </div>
                </div>

                <div class="buttons">
                    {{ form.submit_car(class="button is-primary") }}
                </div>


            </div>
        </section>
        <section class="section">
            <div class="container">
                <a class="button is-danger" href="{{ url_for('users.delete', id=current_user.id) }}">{{ _("Delete account") }}</a>
            </div>
        </section>
    </form>
    <br>
{% endblock %}