{% extends "base.html" %}

{% block imports %}
<link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201911011043">
{% endblock%}

{% block body %}
<section class="hero is-primary">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                {{ _("Your account")}}
            </h1>
        </div>
    </div>
</section>
<section>
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">{{ _("Profile") }}</p>
       <figure class="image is-128x128">
           <img class="is-rounded" src="{{ user.avatar(128) }}">
       </figure><br>
        <table class="table">
            <tbody>
            <tr>
                <td>{{ _("Name:")}}</td>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
            </tr>
            <tr>
                <td>{{ _("Email:")}}</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>{{ _("Phone Number:")}}</td>
                <td>{{ user.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tile is-child box">
      <p class="title">{{ _("Music") }}</p>
      <table class="table">
            <tbody>
            <tr>
                <td>{{ _("Liked genre(s):")}}</td>
                <td>
                    {% for genre in current_user.musicpref %}
                        {% if genre.likes %}
                            {{ _(genre.genre) }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ _("Disliked genre(s):")}}</td>
                <td>
                    {% for genre in current_user.musicpref %}
                        {% if not genre.likes %}
                            {{ _(genre.genre) }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
      </table>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Car</p>
      <!--figure class="image is-250x250">
        <img src="https://mediapool.bmwgroup.com/cache/P9/201812/P90333086/P90333086-the-new-bmw-7-series-in-painting-bernina-grey-amber-effect-metallic-with-light-alloy-wheel-styling-7-2248px.jpg">
      </figure-->
      <table class="table">
            <tbody>
            <tr>
                <td>{{ _("Brand:")}}</td>
                <td>{{ user.car_brand }}</td>
            </tr>
            <tr>
                <td>{{ _("Color:")}}</td>
                <td>{{ user.car_color }}</td>
            </tr>
            <tr>
                <td>{{ _("Licence Plate:")}}</td>
                <td>{{ user.car_plate }}</td>
            </tr>
            </tbody>
      </table>
    </div>
  </div>
</div>
</section>

{% endblock %}