{% extends "base.html" %}

{% block body %}

    <section class="section">
        <h1 class="title">History</h1>
        <h2 class="subtitle">All routes where you have participated in</h2>
        <table class="table">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Time</th>
            </tr>
            </thead>

            {% for route in routes %}
                {% if route %}
                <tr>
                    <td>{{ route.text_from() }}</td>
                    <td>{{ route.text_to() }}</td>
                    <td>{{ route.departure_time }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

    </section>

{% endblock %}