{% extends "base.html" %}

{% block body %}

    <section class="section">
        <h1 class="title">{{ _("History") }}</h1>
        <h2 class="subtitle">{{ _("All routes where you have participated in")}}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>{{ _("From") }}</th>
                <th>{{ _("To") }}</th>
                <th>{{ _("Time") }}</th>
            </tr>
            </thead>

            {% for route in routes %}
                {% if route %}
                <tr>
                    <td>{{ route.text_from() }}</td>
                    <td>{{ route.text_to() }}</td>
                    <td>{{ route.departure_time }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

    </section>

{% endblock %}