{% extends "base.html" %}

{% block styles %}
.has-bg-img { background: url('/static/hero2.jpg')center center; background-size:cover; background-attachment:fixed; }
{% endblock %}

{% block body %}
<section class="hero is-primary is-medium has-bg-img is-transparent">
    <div class="hero-body">
<!--        <img alt="Hero background" class="hero-background" src="https://codepromo.rtbf.be/media/images/goede-redenen-carpooling-post.jpg" />-->
        <div class="container">
            <h1 class="title">[PlaceHolder]</h1>
            <h2 class="subtitle">{{ _("Select your groove, when you move")}}</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-7">
                <p class="title">{{ _("Choose your music")}}</p>
                <p style="font-size:120%;"> {{ _("You probably know the feeling: You want to save the environment, so you
                        decide to go carpooling, but
                        then, from the moment you enter the car, you only hear Jazz music, the music you hated most of all.")}}
                    <br>
                    {{ _("Well, we have a solution for you, because with [PlaceHolder], you can hold a place in someones car
                            with the music you like. Yes, you read that right: [PlaceHolder] is a carpooling app which selects
                            your optimal trip by taking the music preferences of the passengers into account.")}} </p>
            </div>
            <div class="column is-offset-1">
                <img alt="some pic"
                     src="https://s1.dmcdn.net/v/PYSnS1SVMx_dmXGD2/x1080">
            </div>
        </div>
        <hr class="hr">
    </div>

    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <img alt="some other pic"
                     src="https://image.shutterstock.com/image-vector/music-note-design-element-doodle-260nw-616470623.jpg">
            </div>
            <div class="column is-offset-1">
                <p class="title">{{ _("Go in style") }}</p>
                <p style="font-size:120%;"> {{ _("You can sign up and add your first ride in less than a minute (we tested
                        it). Once signed in, your
                        greeted with our minimal design for optimal functionality. I can keep talking about it, but it's
                    best you're going to find it all out by yourself.")}}<br>{{ _("So why are you still reading this? Let's
                    select
                    your groove, while you move.")}}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}