{% extends "base.html" %}

{% from "card.html" import card %}
{% import "map.html" as map %}

{% block imports %}
    {{ map.imports() }}
{% endblock %}

{% block styles %}
    html, body {
    height: 100%;
    }

    #mapid {
    height: 100%;
    }
    .full-height {
    height: 100%;
    }
{% endblock %}

{% block body %}
    <!--<section class="section">-->
    <div id="div" class="full-height" style="height: 100%">
        <section class="section full-height" style="height: 100%">
            <div class="columns full-height" style="height: 100%">
                <div class="column is-2">
                    {{ card("Add a new trip", link=url_for("routes_drive.addRoute")) }}

                    {% if future_routes is none or future_routes[0] is none %}
                        <div class="card">
                            No routes planned
                        </div>
                    {% else %}
                        {% for trip in future_routes %}
                            <div class="card" style="padding: 10px">
                                <strong>From: </strong> {{ trip.text_from() }} <br>
                                <strong>To: </strong> {{ trip.text_to() }}<br>
                                <strong>{{ trip.departure_time }}</strong> <br>
                                <a class="button" href="{{ url_for('routes_drive.drive',  drive_id=trip.id) }}">More
                                    info</a>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ card("History", link=url_for("routes_drive.history")) }}


                </div>

                <div class="column is-8 full-height">
                    <div style="height: 20%">
                        {% if future_routes[0] is none %}
                            <h1 class="title">
                                No routes planned
                            </h1>
                        {% else %}
                            <h1 class="title">
                                From: {{ future_routes[0].text_from() }}<br>
                                To: {{ future_routes[0].text_to() }}
                            </h1>
                            <h2 class="subtitle">
                                {{ future_routes[0].departure_time }}
                            </h2>
                        {% endif %}
                    </div>
                    <div style="height: 80%">
                        {{ map.map() }}
                        <script>loadMarkersRoute({{ future_routes[0].departure_location_lat }}, {{ future_routes[0].departure_location_long }}, {{ future_routes[0].arrival_location_lat }}, {{ future_routes[0].arrival_location_long }})</script>
                    </div>
                </div>
                <div class="column is-2">
                    {% if future_routes[0] %}
                        <div class="card">
                            <div class="card-content">
                                <i class="fas fa-car"></i><a
                                    href="{{ url_for('users.user_page', username=future_routes[0].driver().username) }} "> {{ future_routes[0].driver().name() }} </a><br>
                                {% if future_routes[0].passenger_places is none %}
                                    No passengers
                                {% else %}
                                    {% for passenger in passengers %}
                                        <i class="fas fa-user"></i>
                                        <a href="{{ url_for('users.user_page', username=passenger.username) }}"> {{ passenger.name() }} </a>
                                        <br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    {% endif %}<br><br>

                    {% if future_routes[0] and future_routes[0].playlist %}
                        <p>Here is the playlist that was added to the route.</p><br>
                        <iframe src="https://open.spotify.com/embed/playlist/{{ future_routes[0].playlist }}"
                                width="100%"
                                height="80%" frameborder="10" allowtransparency="true"
                                allow="encrypted-media"></iframe>
                    {% elif range(0, 10) | random %}
                        <p>No playlist added to this route. </p>
                        <p>Here is some other music to cheer you up.</p><br>
                        <iframe src="https://open.spotify.com/embed/playlist/2MClsgoo2g1jaWfshyduRL?"
                                uri="theme=white" width="100%" height="80%" frameborder="10" allowtransparency="true"
                                allow="encrypted-media"></iframe>
                    {% else %}
                        <p>No playlist added to this route. </p>
                        <p>Here is some other music, hehe.</p><br>
                        <iframe src="https://open.spotify.com/embed/album/6N9PS4QXF1D0OWPk0Sxtb4" width="100%"
                                height="80%" frameborder="10" allowtransparency="true"
                                allow="encrypted-media"></iframe>
                    {% endif %}


                </div>
            </div>
        </section>
    </div>
{% endblock %}