{% extends "base.html" %}
{% import "map.html" as map %}
{% import "datepicker.html" as dtpick %}
{% import "tabs.html" as tabs %}

{% block imports %}
    {{ map.imports() }}
    {{ dtpick.imports() }}
{% endblock %}


{% block styles %}
    .full-height {
    height: 100%;
    }

    #mapid {
        height: 70vh;
    }
{% endblock %}

{% block body %}
    {% if form.errors %}
        <div class="notification is-danger">
        <button class="delete"></button>
        {% for field, error in form.errors.items() %}
            {% for err in error %}
                {{ err }} <br>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <section class="section full-height">
        <div class="columns">
            <div class="column is-half is-hidden-mobile" id="mapParent" >
                {{ map.map() }}
                <script>loadMarkersRoute({{ trip.departure_location_lat }}, {{ trip.departure_location_long }}, {{ trip.arrival_location_lat }}, {{ trip.arrival_location_long }})</script>
            </div>
            <form action="" class="column full-height" method="POST" novalidate>
                <div class="tile is-vertical">
                    {{ form.hidden_tag() }}
                    <h1 class="title">Ride with {{ user.firstname }}!</h1>
                    <div class="columns full-height">
                        <div class="column" style="display: flex; flex-direction: column">
                            <h2 class="subtitle">{{ _("Trip information")}}</h2>
                            <p> {{ _("From:")}} {{ trip.text_from() }}</p>
                            <p> {{ _("To:")}} {{ trip.text_to() }} </p>
                            <p> {{ _("Time:")}} {{ trip.departure_time }} </p>
                            <p> {{ _("Places left:")}} {{ trip.places_left() }}</p><br><br>
                            {% if trip.playlist %}
                            <p>{{ _("Here is the playlist that was added to the route.")}}</p><br>
                            <iframe src="https://open.spotify.com/embed/playlist/{{ trip.playlist }}" width="80%" height="100%" frameborder="10" allowtransparency="true" allow="encrypted-media"></iframe>
                            {% elif range(0, 10) | random%}
                                <p>{{ _("No playlist added to this route.")}} </p>
                            <p>{{ _("Here is some other music to cheer you up.")}}</p><br>
                                <iframe src="https://open.spotify.com/embed/playlist/2MClsgoo2g1jaWfshyduRL?" uri="theme=white" width="80%" height="100%" frameborder="10" allowtransparency="true" allow="encrypted-media"></iframe>
                            {% else %}
                                <p>{{ _("No playlist added to this route.")}} </p>
                            <p>{{ _("Here is some other music, hehe.")}}</p><br>
                                <iframe src="https://open.spotify.com/embed/album/6N9PS4QXF1D0OWPk0Sxtb4" width="80%" height="100%" frameborder="10" allowtransparency="true" allow="encrypted-media"></iframe>
                            {% endif %}
                        </div>
                        <div class="column">
                            <div class="columns">
                                <div class="column">
                                    <h2 class="subtitle">{{ _("Driver information")}}</h2>
                                    <figure class="image is-128x128">
                                        <img class="is-rounded" src="{{ user.avatar(128) }}">
                                    </figure>
                                    <br>
                                    <p> {{ _("Name:") }} {{ user.firstname }} {{ user.lastname }} </p>
                                    <p> {{ _("email:")}} {{ user.email }} </p>
                                    <a class="button" href="{{ url_for('users.user_page',  id=user.id) }}">
                                        {{ _("More info")}}</a>
                                </div>
                                <div class="column">
                                     {% if isdriver %}
                                        {{ tabs.openTab() }}
                                        <div class="tabs">
                                            <ul>
                                                <li class="is-active tablinks"><a onclick= "openTab(event, 'Passengers')">{{ _("Passengers") }}</a></li>
                                                <li class="tablinks"><a onclick="openTab(event, 'Stops')">{{ _("Stops") }}</a></li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <div id="Passengers" class="tabcontent">
                                    <h2 class="subtitle">{{ _("Passengers information")}}</h2>
                                    {% if passengers %}
                                        {% for passenger in passengers %}
                                            <figure class="image is-128x128">
                                                <img class="is-rounded" src="{{ passenger[0].avatar(128) }}">
                                            </figure>
                                            <br>
                                            <p> {{ _("Name:")}} {{ passenger[0].firstname }} {{ passenger[0].lastname }} </p>
                                            <p> {{ _("email:")}} {{ passenger[0].email }} </p>
                                            <p> {{ _("Pickup Point:") }} {{ passenger[1] }}</p>
                                            <a class="button"
                                               href="{{ url_for('users.user_page',  id=passenger[0].id) }}">
                                                {{ _("More info")}}</a>
                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            <strong>{{ _("No passengers")}}</strong>
                                        </div>
                                    {% endif %}
                                    </div>
                                    {% if isdriver %}
                                    <div id="Stops" class="tabcontent" style="display: none">
                                    <h2 class="subtitle">{{ _("Recommended pickup order")}}</h2>
                                        {% if passengers %}
                                            {% for stop in stops %}
                                                <p> {{ "Stop " + loop.index|string + ":" }} {{ stop[2] }}</p>
                                                <p>{{ stop[3] }}</p>
                                                <br>
                                                <script>addStop({{stop[0]}}, {{stop[1]}}, "{{stop[3]}}")</script>
                                            {% endfor %}
                                        {% else %}
                                            <div>
                                                <strong>{{ _("No passengers")}}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                        <div class="buttons">
                    {% if not isdriver %}
                            {% if requested %}
                                <a class="button is-primary" href="{{ url_for('routes_drive.cancel_request', drive_id=trip.id) }}">
                                    {{ _("Cancel request")}}</a>
                            {% else %}
                                {{form.pickupPoint(class='input', type='text', placeholder=_('Where do you want to be picked up?'))}}
                                 <br><br>
                                {{ form.submit(class="button is-primary") }}
                            {% endif %}
                    {% else %}
                            <a class="button is-primary" href="{{ url_for('routes_drive.editRoute', id=trip.id) }}">{{ _("Edit") }}</a>
                            <a class="button is-danger" href="{{ url_for('routes_drive.delete', id=trip.id) }}">{{ _("Delete") }}</a>
                    {% endif %}
                            <a class="button" href="{{ trip.google_calendar_link() }}" target="_blank">{{ _("Add to calendar") }}</a>
                        </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}