{% extends "base.html" %}

{% block body %}
    <!--<section class="section">-->
    <div id="div">
        <section class="section">
            <h1 class="title">{{ _("Search results")}}</h1>
            <h2 class="subtitle">{{ _("Departure near")}} {{ src }}</h2>
            <h2 class="subtitle">{{ _("Arrive near")}} {{ dest }}</h2>
            {% for route in routes %}
                <div class="card">
                    <a href="{{ url_for('routes_drive.drive', drive_id=route.id) }}">
                        <div class="card-content">
                            <strong>{{ _("FROM:")}}</strong> {{ route.text_from() }}<br>
                            <strong>{{ _("TO:")}}</strong> {{ route.text_to() }}<br>
                            <strong>{{ _("TIME:")}}</strong> {{ route.departure_time.isoformat() }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}