<p>{{ _("Hey") }} {{ user.username }},</p>
<p>
    {{ _("To reset your password")}}
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        {{ _("click here")}}
    </a>.
</p>
<p>{{ _("Alternatively, you can paste the following link in your browser's address bar:")}}</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>{{ _("If you have not requested a password reset simply ignore this message.")}}</p>
<p>{{ _("Have a nice day,")}}</p>
<p>{{ _("The PlaceHolder Team")}}</p>