{% extends "base.html" %}

{% block imports %}
<link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201911011043">
{% endblock%}

{% block body %}
<body>
<section class="hero is-primary">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                About Us
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1 class="subtitle">
            </br><strong>Who are we?</strong>
        </h1>
        <p>
            Hi, we are the developers of PLACEHOLDER. <br>
            As computerscientists at the University of Antwerp, we had to make this website for our final project for
            the course "Programming Project Databases". In this course we have learned the practical side of using databases.
            The assignment was to create a webapplication for carpooling where we had to stand our from other already existing
            webapplications. We came up with the idea to not only select  availeble options from the route but also
            from peoples music taste. PLACEHOLDER is the result of our work.<br><br>
            By Arno Deceuninck, Sam Peeters, Sien Nuyens & Tim Sanders

        </p>

        <h1 class="subtitle">
            </br><strong>What is PLACEHOLDER</strong>?
        </h1>
        <p class="is-italic"> Hold a place in a car, with the music you like.<br><br></p>
        <p>
            This is not just another website for carpooling. It's a fast and easy way to find the ride which
            is perfect just for you. PLACEHOLDER doesn't only find you someone who can take you from place A to place B. No,
            it also finds you the person who will have a same interest in music as you. Carpooling always brings people closer together,
            it's a beautiful and easy was to be social with other people and with PLACEHOLDER you will already know you have a common
            thing: your music-style.
        </p>
    </div>
</section>
</body>

{% endblock %}