{% extends "base.html" %}

{% block imports %}
<link rel="stylesheet" href="https://wikiki.github.io/css/documentation.css?v=201911011043">
{% endblock%}

{% block body %}
<section class="hero is-primary">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Your account
            </h1>
        </div>
    </div>
</section>
<section>
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">Profile</p>
       <figure class="image is-128x128">
         <img class="is-rounded" src="https://images3.persgroep.net/rcs/RxX015_yBgf7tSOTHmy0cnQ6E28/diocontent/57357276/_crop/0/184/3393/1917/_fitwidth/763?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.8">
       </figure>
        <table class="table">
            <tbody>
            <tr>
                <td>Name:</td>
                <td>{{ current_user.firstname }} {{ current_user.lastname }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ current_user.email }}</td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>{{ current_user.phone }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tile is-child box">
      <p class="title">Music</p>
      <table class="table">
            <tbody>
            <tr>
                <td>Do like these styles:</td>
                <td>
                    {% for goodmusic in current_user.goodmusic %}
                        {{ goodmusic }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Don't like these styles:</td>
                <td>
                    {% for badmusic in current_user.badmusic %}
                        {{ badmusic }}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
      </table>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Car</p>
      <figure class="image is-250x250">
        <img src="https://mediapool.bmwgroup.com/cache/P9/201812/P90333086/P90333086-the-new-bmw-7-series-in-painting-bernina-grey-amber-effect-metallic-with-light-alloy-wheel-styling-7-2248px.jpg">
      </figure>
      <table class="table">
            <tbody>
            <tr>
                <td>Brand:</td>
                <td><< current_car.brand >></td>
            </tr>
            <tr>
                <td>Color:</td>
                <td><< current_car.color >></td>
            </tr>
            <tr>
                <td>Licence Plate:</td>
                <td><< current_car.licenceplate >></td>
            </tr>
            <tr>
                <td>Total number of seats:</td>
                <td><< current_car.seats >></td>
            </tr>
            </tbody>
      </table>
    </div>
  </div>
</div>
</section>

{% endblock %}