{% extends "base.html" %}
{% import "map.html" as map %}

{% block imports %}
    {{ map.imports() }}
{% endblock %}


{% block styles %}
    #mapid {
    height: 100%;
    }
{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-three-fifths">
<!--                <p class="title">MAP</p>-->
                {{ map.map() }}
            </div>
            <form class="column">
                <div class="tile is-vertical">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p class="title">Add Route</p>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Role:</label>
                            </div>
                            <div class="field-body">
                                <div class="control">
                                    <label class="radio">
<!--                                        <input type="radio" name="answer">-->
                                        {{ form.type(type="radio", name="answer") }}
                                    </label>
                                    <label class="radio">
<!--                                        <input type="radio" name="answer">-->
<!--                                        Passenger-->
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Start:</label>
                            </div>
                            <div class="field-body">
                                <input class="input" type="text">
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Destination:</label>
                            </div>
                            <div class="field-body">
                                <input class="input" type="text">
                            </div>
                        </div>
                        <br>
                        <div class="field is-horizontal has-addons">
                            <div class="field-label">
                                <label class="label">Date:</label>
                            </div>
                            <div class="field-body">
                                <p class="control">
                                    <input class="input" type="text" placeholder="Day">
                                </p>
                                <p class="control">
                                    <span class="select">
                                      <select>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                        <option>April</option>
                                        <option>May</option>
                                        <option>June</option>
                                        <option>July</option>
                                        <option>August</option>
                                        <option>September</option>
                                        <option>October</option>
                                        <option>November</option>
                                        <option>December</option>
                                      </select>
                                    </span>
                                </p>
                                <p class="control">
                                    <a class="button is-static">2020</a>
                                </p>
                            </div>
                        </div>
                        <br>
                        <button class="button is-primary">Submit</button>
                    </form>
                </div>
            </form>
        </div>
        </div>
    </section>
{% endblock %}