{% extends "base.html" %}
{% import "map.html" as map %}
{% import "datepicker.html" as dtpick %}

{% block imports %}
    {{ map.imports() }}
    {{ dtpick.imports() }}
{% endblock %}


{% block styles %}
    #mapid {
    height: 100%;
    }
{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-three-fifths">
                <p class="title">MAP</p>
                {{ map.map() }}
            </div>
            <form class="column" action="" method="POST" novalidate>
                <div class="tile is-vertical">
                        {{ form.hidden_tag() }}
                        <p class="title">Add Route</p>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Role:</label>
                            </div>

                            <div class="field-body">
                                <div class="control">
                                    {% for subfield in form.type %}
                                    <label class="radio">
                                        <!--input type="radio" name="answer"-->
                                        {{ subfield }}
                                        {{ subfield.label }}
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Start:</label>
                            </div>
                            <div class="field-body">
                                {{ form.start(class='input', type='text') }}
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Destination:</label>
                            </div>
                            <div class="field-body">
                                {{ form.destination(class='input', type='text') }}
                            </div>
                        </div>
                        <br>
                        <div class="field is-horizontal has-addons">
                            <div class="field-label">
                                <label class="label">Date:</label>
                            </div>
                            <div class="field-body">
                                {{ form.date(class="dtpick") }}
                            </div>
                        </div>
                        <br>
                        {{ form.submit(class="button is-primary") }}
                </div>
            </form>
        </div>
    </section>
{% endblock %}