<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metadata %}{%endblock%}

    {% if title %}
    <title>{{ title }} - [PlaceHolder]</title>
    {% else %}
    <title> [PlaceHolder] </title>
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });</script>

    {% block imports %}{% endblock %}

    <style type="text/css">

        html, body {
            height: 100%;
            margin: 0;
        }

        #div {
            margin-top: 10%;
        }

        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }

        {
        %
        block
        styles
        %
        }
        {
        %
        endblock
        %
        }

    </style>

    {% block head %}{% endblock %}

</head>

<body class="Site">

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
            <img src="/static/logo-01.png" width="13" height="28">
            <strong> [PlaceHolder]</strong>
<!--            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
            <!--            <strong>[PlaceHolder]</strong>-->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if current_user.is_anonymous %}
                    <a class="button is-primary" href="{{ url_for('register') }}">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="{{ url_for('login') }}">
                        Login
                    </a>
                    {% else %}
                    <a class="button is-light" href="{{ url_for('logout') }}">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="Site-content">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="notification">
        <button class="delete"></button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="contW.I.P.ent has-text-centered">
        <p>
            <strong>[PlaceHolder]</strong> by Arno Deceuninck, Sam Peeters, Sien Nuyens and Tim Sanders.
        </p>
    </div>
</footer>

</body>
</html>
