<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block metadata %}{% endblock %}

    <link rel="icon" href="/static/wheel.png">
    {% if title %}
        <title>{{ title }} - [PlaceHolder]</title>
    {% else %}
        <title> [PlaceHolder] </title>
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <!--    Javascript for deleting notifications-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <script>function playMusic() {
        // in the js code unmute the audio once the event happened
        var player = document.getElementById('sound')
        if (player.muted) {
            player.muted = false;
            player.play();
        } else {
            player.muted = true;
            player.pause();
        }
    }

    function language_cookie(language) {
        document.cookie = "language=" + language + ";path=/";
        location.reload();
    }

    function sound_cookie_on() {
        document.cookie = "language=" + language + ";path=/";
        location.reload();
    }

    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
    </script>

    <!--    Javascript for the burger menu-->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>

    {% block imports %}{% endblock %}

    <style type="text/css">

        html, body {
            height: 100%;
            margin: 0;
        }


        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }

        .navigation {
            position: sticky;
            top: 0;
            z-index: 100;
        }

        {% block styles %}{% endblock %}

    </style>

    {% block head %}{% endblock %}

</head>

<body class="Site">

<nav class="navbar navigation" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.index') }}">
            <img src="/static/logo-01.png" width="13" height="28">
            <strong> [PlaceHolder]</strong>
            <!--            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
            <!--            <strong>[PlaceHolder]</strong>-->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('main.index') }}">
                {{ _('Home') }}
            </a>

            <a class="navbar-item" href="{{ url_for('main.about') }}">
                {{ _("About") }}
            </a>

            <a class="navbar-item" href="{{ url_for('main.lol') }}">
                {{ _("Don't click here") }}
            </a>
        </div>

        <div class="navbar-end">
            <div title="Click to play background music" class="navbar-item">
                <a class="navbar-item" onclick="playMusic()">
                           <span class="icon" style="margin: 5px">
                               <i class="fas fa-music"></i>
{#                               <i class="fas fa-volume-off"></i>#}
                           </span>Music
                </a>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">


                <a class="navbar-item">
                            <span class="icon" style="margin: 5px">
                               <i class="fas fa-globe-americas"></i>
                           </span>Language

                </a>

                <div class="navbar-dropdown is-boxed">
                    {% for language in config['LANGUAGES'] %}
                        {% if language == config['LANGUAGES'][0] %}
                            <a class="navbar-item"
                               onclick="language_cookie('{{ language }}');"> {{ language }} </a>
                        {% else %}
                            <a class="navbar-item"
                               onclick="language_cookie('{{ language }}');"> {{ language }} </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% if current_user.is_anonymous %}

                <div class="navbar-item">
                    <a class="button is-primary" href="{{ url_for('auth.register') }}">
                        <strong>{{ _("Sign up") }}</strong>
                    </a>
                </div>

                <div class="navbar-item">
                    <a class="button is-light" href="{{ url_for('auth.login') }}">
                        {{ _("Login") }}
                    </a>
                </div>
            {% else %}
                <!--a class="navbar-item" href="{{ url_for('routes_drive.getRequests') }}">
                        <span>Notifications</span>
                        <span class="icon">
                            <i class="far fa-bell"></i>
                        </span>
                    </a-->

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item" href="{{ url_for('routes_drive.getRequests') }}">
                           <span class="icon">
                               <i class="far fa-bell"></i>
                           </span>

                        <span class="tag is-info is-light">{{ current_user.getNotifications()|length -1 }}</span>

                    </a>
                    <div class="navbar-dropdown is-boxed">
                        {% for notification in current_user.getNotifications() %}
                            {% if notification == _("No routes planned in the future") %}
                                <a class="navbar-item">
                                    {{ notification }}
                                </a>
                            {% else %}
                                {% if notification == current_user.getNotifications()[0] %}
                                    <a class="navbar-item"
                                       href="{{ url_for('routes_drive.drive',  drive_id=notification.id) }}">
                                        {{ _("Next route:") }} {{ notification.departure_time }}
                                        <!-- .isoformat() }} TODO: when is a date stored as a string? -->
                                    </a>
                                {% else %}
                                    <a class="navbar-item" href="{{ url_for('routes_drive.getRequests') }}">
                                        {{ notification }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <a class="navbar-item" href="{{ url_for('users.account_settings') }}">
                    {#                            {{ _("Settings") }}#}
                    <span class="icon">
                               <i class="fas fa-cog"></i>
                           </span>
                </a>

                <a class="navbar-item" href="{{ url_for('users.user_page', id=current_user.id) }}">
                    {{ current_user.firstname }} {{ current_user.lastname }}
                    <img hspace="10" src="{{ current_user.avatar(128) }}">
                </a>

                <div class="navbar-item">
                    <a class="button is-light" href="{{ url_for('auth.logout') }}">
                        {{ _("Logout") }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
</nav>

<main class="Site-content">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}


</main>

<footer class="footer"
        style="position: relative; bottom: 0; width: 100%; height: min-content;padding: 3rem 1.5rem 3rem">
    <div class="contW.I.P.ent has-text-centered">
        <p>
            <strong>[PlaceHolder]</strong> {{ _("by") }} Arno Deceuninck, Sam Peeters, Sien Nuyens {{ _("and") }} Tim
            Sanders.
        </p>
    </div>
</footer>

<audio id="sound" src="/static/minecraft.mp3" muted></audio>
{#<audio id="sound" src="/static/random.mp3" muted></audio>#}

</body>

<script>

    {#The method below doesn't work because Google Chrome is gay#}
    {#myMusic = new Audio("/static/minecraft.mp3");#}
    {#myMusic.play();#}
</script>
</html>