{% extends "base.html" %}

{% from "card.html" import card %}
{% import "map.html" as map %}

{% block imports %}
{{ map.imports() }}
{% endblock %}

{% block styles %}
#mapid {
    height: 100%;
}
{% endblock %}

{% block body %}
    <!--<section class="section">-->
    <div id="div">
        <section class="section">
            <div class="columns">
                <div class="column is-2">
                    {{ card("Add a new trip", link=url_for("addRoute")) }}

                    {% if routes is none %}
                        <div class="card">
                            No routes planned
                        </div>
                    {% else %}
                        {% for trip in routes %}
                            <div class="card">
                                <strong>From: </strong> {{ trip.text_from() }}
                                <strong>To: </strong> {{ trip.text_to() }}
                                {{ trip.departure_time }}
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

                <div class="column">
                    {% if routes.first() is none %}
                        <h1 class="title">
                            No routes planned
                        </h1>
                    {% else %}
                        <h1 class="title">
                            From: {{ routes.first().text_from() }}
                            To: {{ routes.first().text_to() }}
                        </h1>
                        <h2 class="subtitle">
                            {{ routes.first().departure_time }}
                        </h2>
                    {% endif %}
                    {{ map.map() }}
                </div>
                <div class="column is-2">
                    <div class="card">
                        <div class="card-content">
                            {% if routes.first() is none %}
                                <h1 class="title">
                                    No routes planned
                                </h1>
                            {% else %}
                                <i class="fas fa-car"></i><a href="{{ url_for('user_page', username=routes[0].driver) }} "> {{ routes.first().creator }} </a><br>
                                {% if routes.first().passenger_places is none %}
                                    No passengers
                                {% else %}
                                    {% for passenger in routes.first().passenger_places %}
                                    <i class="fas fa-user"></i><a href="{{ url_for('user_page', username=passenger) }}"> {{ passenger }} </a><br>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div><br>

                    {% if routes.first() is none %}
                    No routes planned

                    {% else %}
                    {{ card("FROM:", routes.first().text_from()) }}

                    {% for stop in routes.first().stops %}
                        {{ card("STOP:", stop) }}
                    {% endfor %}

                    {{ card("TO:", routes.first().text_to()) }}

                    {% endif %}

                </div>
            </div>
        </section>
    </div>
{% endblock %}