{% macro imports() %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<style type="text/css">
.map {   z-index: 0;
   /* Fix map not going over navbar */
}
</style>
{% endmacro %}


{% macro map() %}
<div class="map" id="mapid"></div>
<script>
    //var geocoder = new google.maps.Geocoder();
    //var address = jQuery('#address').val();

    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHJpbm0iLCJhIjoiY2s3Y2Q0Y3JzMG1jMTNsbnp1dDF2MGF0biJ9.f0Yml4j8GZko6Bcjqe5OvA', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);

    var startlayer = L.layerGroup().addTo(mymap);
    var startmarker = false;
    var stoplayer = L.layerGroup().addTo(mymap);
    var stopmarker = false;


    async function addmarker(field) {
        console.log("start addmarker");
        var layer = {};
        if (field === "start"){
            layer = startlayer;
            startlayer.clearLayers();
        }
        if(field === "destination"){
            layer = stoplayer;
            stoplayer.clearLayers();
        }
        await new Promise(r => setTimeout(r, 1000));
        var address = document.getElementById(field).value;
         $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=5&q=' + address, function (data) {
            var marker = L.marker([parseFloat(data[0].lat), parseFloat(data[0].lon)]).addTo(layer);
            if(field === "start"){
                startmarker = marker;
            }else {
                stopmarker = marker;
            }
            centerLeafletMapOnMarker(mymap, marker);
        });
    }

    function loadMarkersRoute(startLat, startLong, destinationLat, destinationLong) {
        console.log("test");
        var LatLongs1 = L.latLng(startLat, startLong);
        console.log("test1");
        var LatLongs2 = L.latLng(destinationLat, destinationLong);
        console.log("test2");
        L.marker(LatLongs1).addTo(mymap);
        console.log("test3");
        L.marker(LatLongs2).addTo(mymap);

        mymap.flyToBounds(L.latLngBounds(LatLongs1, LatLongs2));

    }


    function centerLeafletMapOnMarker(map, marker) {
        var latLngs;
        var markerBounds;
        if (startmarker && stopmarker) {
            latLngs = [L.latLng(startmarker.getLatLng().lat, startmarker.getLatLng().lng)];
            var latLngs2 = [L.latLng(stopmarker.getLatLng().lat, stopmarker.getLatLng().lng)];
            markerBounds = L.latLngBounds(latLngs, latLngs2)
        } else {
            latLngs = [L.latLng(marker.getLatLng().lat, marker.getLatLng().lng)];
            markerBounds = L.latLngBounds(latLngs);
        }
        map.flyToBounds(markerBounds);
    }

    function addStop(lat, long, name) {
        var marker = L.marker([lat, long]).addTo(mymap);
        marker.bindPopup('"' + name + '"');
    }

{#    $(window).on("resize", function() {
        $("#mapid").height($("#mapParent").height());
        mymap.invalidateSize();
    }).trigger("resize");#}

</script>

{% endmacro %}
