{% extends "base.html" %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-medium">Settings</h1>
            <h2 class="subtitle">Edit your preferences</h2>
            <hr class="hr">
        </div>
    </section>

    <section class="section">
        <div class="container box">
            <form action="" method="post" novalidate>
                {{ form_profile.hidden_tag() }}
                <p class="subtitle">Edit profile</p>
                <div class="columns">
                    <div class="column is-2">
                        <p>First name:</p>
                    </div>
                    <div class="column is-5">
                        {{ form_profile.firstname(type="text", class="input", placeholder="First name") }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>Last name:</p>
                    </div>
                    <div class="column is-5">
                        {{ form_profile.lastname(type="text", class="input", placeholder="Last name") }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>Email:</p>
                    </div>
                    <div class="column is-5">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                {{ form_profile.email(type="text", class="input", placeholder="Email") }}
                                <span class="icon is-small is-left">
                                     <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>Change password:</p>
                    </div>
                    <div class="column is-5">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                {{ form_profile.password(type="password", class="input", placeholder="New password") }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>

    <section class="section">
        <div class="container box">
            <form action="" method="post" novalidate>
                <p class="subtitle">Music Settings</p>

                <div class="columns">
                    <div class="column is-2">
                        <p>Add liked genre:</p>
                    </div>
                    <div class="column is-5">
                        <input type="text" class="input" placeholder="Genre">
                    </div>
                    <div class="column is-1">
                        <button class="button is-primary">
                            Add
                        </button>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-6 is-offset-2">
                        <textarea class="textarea is-success" placeholder="Liked genres" disabled></textarea>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>Add disliked genre:</p>
                    </div>
                    <div class="column is-5">
                        <input type="text" class="input" placeholder="Genre">
                    </div>
                    <div class="column is-1">
                        <button class="button is-primary">
                            Add
                        </button>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-6 is-offset-2">
                        <textarea class="textarea is-danger" placeholder="Disliked genres" disabled></textarea>
                    </div>
                </div>

            </form>
        </div>
    </section>

    <section class="section">
        <div class="container box">
            <form action="" method="post" novalidate>
                <p class="subtitle">Car Settings</p>

                <div class="columns">
                    <div class="column is-2">
                        <p>Color:</p>
                    </div>
                    <div class="column is-5">
                        {{ form_car.color(type="input", class="input", placeholder="Color") }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>Brand:</p>
                    </div>
                    <div class="column is-5">
                        {{ form_car.brand(type="input", class="input", placeholder="Brand") }}
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-2">
                        <p>License plate:</p>
                    </div>
                    <div class="column is-5">
                        {{ form_car.plate(type="input", class="input", placeholder="1-aaa-000") }}
                    </div>
                </div>

            </form>
        </div>
    </section>
{% endblock %}